@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-stone-900 dark:bg-stone-900 dark:text-stone-100 transition-colors duration-300;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-stone-300 dark:bg-stone-700 rounded;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d6d3d1 transparent;
  }
}


